/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  }
body{
    background-image: url("../src/assets/white.jpg  ");
    background-attachment: fixed;
    background-size: 100% 100%;
}
