
h1{
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    font-style: italic;
    margin-bottom: 30px;
}
form{
    width:50%;
    margin-left: 570px;
}
form mat-form-field{
    width: 20%;
}
    
button{        
    margin-left: 10px;
}

