<ng-container>
  <div class="events-container">
    <div *ngIf="events?.length === 0">No records to display</div>
    <div
      *ngFor="let event of events; let index = index"
      class="event-container"
    >
      <a>
        <img [src]="event.Poster" alt="Poster" />
      </a>
      <p>
        <a> {{ event.Name }} </a>
      </p>
      <p>
        <a>
          {{ event.Date }}
        </a>
      </p>
      <a>
        <button mat-flat-button color="primary" (click)="openDialog(event.Id)">
          detalji
        </button>
        <button
          *ngIf="link != '/profile'"
          mat-stroked-button
          routerLink="/ticket"
          (click)="buyTicket(event.Id)"
        >
          kupi ulaznicu
        </button>
      </a>
    </div>
  </div>
</ng-container>
