<h2>lista</h2>

<h2>Lista dogadaja</h2>

<ng-container>
  <div class="events-container">
    <div *ngIf="events?.length === 0">No records to display</div>
    <div
      *ngFor="let event of events; let index = index"
      class="event-container"
    >
      <a>
        <img [src]="event.Poster" alt="Poster" />
      </a>
      <p>
        <a> {{ event.Name }} </a>
      </p>

      <p>
        <a>
          {{ event.TicketPrice }}
        </a>
      </p>
      <p>
        <a>
          {{ event.Date }}
        </a>
      </p>
    </div>
  </div>
</ng-container>
