<mat-toolbar color="primary">
  <span>
    <a routerLink="" mat-button> <mat-icon>event</mat-icon> Događaji</a>
  </span>
  <div><a routerLink="" mat-button>Sport</a></div>

  <div><a routerLink="" mat-button>Koncerti</a></div>

  <div><a routerLink="" mat-button>Filmovi</a></div>

  <div class="space">

  </div>

  <app-authorize-view>
    <ng-container authorized>
      <a mat-button (click)="securityService.logout()">Logout</a>
    </ng-container>
    <ng-container notAuthorized>
      <a mat-button routerLink="login">Login</a>
      <a mat-button routerLink="register">Register</a>
    </ng-container>
  </app-authorize-view>

</mat-toolbar>
